.cal{
    margin: 50px 20%;
    margin-top: 20px;
}
img{
    height: 500px;
}
.carousel-indicators{
    display: none;
}

@media (max-width: 1000px) {
    .cal {
      margin: 20px 10%;
      margin-bottom: 50px;
    }
    img{
        height:400px
    }
}